{% extends "base.html" %}

{% block head_block %}
<meta name="google-site-verification" content="sKVBqMKy3UVR3XyHHauJ8a3gSA0SSQyLrI3EwgnIuAI" />
<meta name="y_key" content="6f646f9312495ac4" />
<meta name="msvalidate.01" content="4762785D184E3024941894D0A916465F" />
<meta name="Keywords" content="mozillazg,mzgblog.appspot.com,frefox,software" />
<meta name="Description" content="This is Mozillazg! Welcome to my blog!" />

{% endblock %}

{% block content %}

<!-- content START -->
<div id="content">

	<!-- main START -->
	<div id="main">
    
    {% if entries %}
    
			{% for entry in entries %}
            {% if entry.sticky %} 
			<div class="post" id="post-{{entry.key}}">
			<h2><small>[Sticky]</small><a class="title" href="/{{ entry.link|escape }}" rel="bookmark">{{ entry.title|escape }}</a></h2>
			<div class="info">
				<span class="date">{{ entry.date|datetz:"F jS, Y " }}</span>

				<!-- <span class="comments"><a href="/{{entry.link|escape}}">{{entry.readtimes}} Views</a></span> -->
				<span class="comments"><a href="/{{entry.link|escape}}#comments">{{entry.commentcount}} Comments </a></span>
				<span>{%if self.is_admin%} | <a href="{{entry.edit_url}}">Edit</a>{%endif%} </span>
				<div class="fixed"></div>
			</div>
			<div class="content">
				{{entry|excerpt_more:"(<strong>..More</strong>)"}}
				<div class="fixed"></div>
			</div>
			<div class="under">
			<span class="categories">Categories: </span><span>
            {%for cate in entry.categories%} <a rel="category tag" href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}
            </span>	
            {% if entry.strtags%}
            <span class="tags">Tags: </span><span>
            {%for tag in entry.tags%}
            <a rel="tag" href="/tag/{{tag|urlencode}}">{{tag}}</a>&nbsp;{%endfor%}</span>
            {%endif%}
			{%if self.is_admin%} | <a href="{{entry.edit_url}}">Edit</a>{%endif%} 
            </div>

		</div>
            {% endif %}
			{% endfor %}

{% endif %}
    
    
    {% if entries %}
            
            {% for entry in entries %}
			<div class="post" id="post-{{entry.key}}">
			<h2><a class="title" href="/{{ entry.link|escape }}" rel="bookmark">{{ entry.title|escape }}</a></h2>
			<div class="info">
				<span class="date">{{ entry.date|datetz:"F jS, Y " }}</span>

				<!-- <span class="comments"><a href="/{{entry.link|escape}}">{{entry.readtimes}} Views</a></span> -->
				<span class="comments"><a href="/{{entry.link|escape}}#comments">{{entry.commentcount}} Comments </a></span>
				<span>{%if self.is_admin%} | <a href="{{entry.edit_url}}">Edit</a>{%endif%} </span>
				<div class="fixed"></div>
			</div>
			<div class="content">
				{{entry|excerpt_more:"(<strong>..More</strong>)"}}
				<div class="fixed"></div>
			</div>
			<div class="under">
			<span class="categories">Categories: </span><span>
            {%for cate in entry.categories%} <a rel="category tag" href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}
            </span>	
            {% if entry.strtags%}
            <span class="tags">Tags: </span><span>
            {%for tag in entry.tags%}
            <a rel="tag" href="/tag/{{tag|urlencode}}">{{tag}}</a>&nbsp;{%endfor%}</span>
            {%endif%}
			{%if self.is_admin%} | <a href="{{entry.edit_url}}">Edit</a>{%endif%} 
            </div>

		</div>

			{% endfor %}
        
<div id="pagenavi">
			<div class="wp-pagenavi">
<h4>
<span class="pages">Page {{pageindex}}&nbsp;</span>
{% if show_prev %} <a href="/page/{{ pageindex|add:"-1" }}" > &laquo;Previous Page</a>&nbsp;{% endif %} 
{% if show_next %} <a href="/page/{{ pageindex|add:"1"}}" > &raquo;Next Page</a>&nbsp;{% endif %} 
</h4>
            </div>
		<div class="fixed"></div>
</div>
{% else %}
        <div class="post"></div>
        <div class="content">
        <h2>Not Found</h2>
        <p>Sorry, but you are looking for something that isn't here.</p>
        </div>
        <div class="fixed"></div>
        <div class="under"></div>
{% endif %}
	</div>
	<!-- main END -->

	{% include "sidebar.html" %}

	<div class="fixed"></div>
</div>
<!-- content END -->

{% endblock %}
