<!-- sidebar START -->
<div id="sidebar">

<!-- sidebar north START -->
<div id="northsidebar" class="sidebar">
    <!-- feeds -->
    <div class="widget widget_feeds">
        <div class="content">
            <div id="subscribe">
                <a href="{{ blog.feedurl }}" title="Subscribe to this blog..." id="feedrss" rel="external nofollow"><abbr title="Really Simple Syndication" style="">RSS</abbr> feed</a>
                   <ul id="feed_readers">
                        <li id="google_reader"><a href="http://fusion.google.com/add?feedurl={{ blog.feedurl }}" title="Subscribe with Google" class="reader" rel="external nofollow"><span>Google</span></a></li>
                        <li id="youdao_reader"><a href="http://reader.youdao.com/#url={{ blog.feedurl }}" title="Subscribe with Youdao" class="reader" rel="external nofollow"><span>Youdao</span></a></li>
                        <li id="xianguo_reader"><a href="http://www.xianguo.com/subscribe.php?url={{ blog.feedurl }}" title="Subscribe with Xian Guo" class="reader" rel="external nofollow"><span>Xian Guo</span></a></li>
                        <li id="zhuaxia_reader"><a href="http://www.zhuaxia.com/add_channel.php?url={{ blog.feedurl }}" title="Subscribe with Zhua Xia" class="reader" rel="external nofollow"><span>Zhua Xia</span></a></li>
                        <li id="yahoo_reader"><a href="http://add.my.yahoo.com/rss?url={{ blog.feedurl }}" title="Subscribe with My Yahoo!" class="reader" rel="external nofollow"><span>My Yahoo!</span></a></li>
                        <li id="newsgator_reader"><a href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url={{ blog.feedurl }}" title="Subscribe with newsgator" class="reader" rel="external nofollow"><span>newsgator</span></a></li>
                        <li id="bloglines_reader"><a href="http://www.bloglines.com/sub/{{ blog.feedurl }}" title="Subscribe with Bloglines" class="reader" rel="external nofollow"><span>Bloglines</span></a></li>
                        <li id="inezha_reader"><a href="http://inezha.com/add?url={{ blog.feedurl }}" title="Subscribe with iNezha" class="reader" rel="external nofollow"><span>iNezha</span></a></li>
                    </ul>
            </div>
            
            <!-- twitter -->
            <a href="https://twitter.com/mozillazg/" title="Follow me!" id="followme">Twitter</a>
                        
            <div class="fixed"></div>
        </div>
        <!--
        <div class="content">
            <div id="subscribe">
                <a rel="external nofollow" id="feedrss" title="RSS Subscribe Blog" href="{{ blog.feedurl }}">RSS Subscribe Blog</a>
            <div class="fixed"></div>
            </div>
        </div>  -->
    </div>

    <!-- showcase -->
    <div id="blog-notice" class="widget widget_blog_notice">        
    <h3>Notice Board</h3>
    <ul>
        {{blog.blognotice|escape}}
    </ul>
    </div>
    
    <div id="recent-posts-2" class="widget widget_recent_entries">        
    <h3>Latest Posts</h3>
    <ul>
        {% for entry in blog.recentposts %}
        <li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}({{entry.readtimes}})</a></li>
        {%endfor%}
    </ul>
    </div>

    <div id="hot-posts" class="widget widget_hot_entries">        
    <h3>Hot Posts</h3>
    <ul>
        {% for entry in blog.hotposts %}
        <li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}({{entry.readtimes}})</a></li>
        {%endfor%}
    </ul>
    </div>

    <div id="recentcomments" class="widget widget_recentcomments">
    <h3>Recent Comments</h3>
    <ul>
    <!--{% for comment in recent_comments %}
        <li class="rc_item"><div class="rc_info"><span class="author_name">
        {%if comment.weburl %}<a target="_blank" href='{{comment.weburl}}' class='url'  rel='external nofollow'>{{comment.author}}</a>{% else %}{{comment.author}}{%endif%}</span> Published on <span class="post_title"><a href="/{{comment.entry.link|escape}}#comment-{{comment.key.id}}">{{comment.entry.title|escape}}</a></span></div><div class="rc_excerpt">{{comment.shortcontent}}...</div></li>
    {%endfor%} -->
    {% for comment in recent_comments %}
<li id="" class="rc_item">
    <div class="rc_avatar rc_left">
        <a hrf="">
            <img title="" ilo-full-src="" alt="" src="{{comment.gravatar_url}}" class="avatar avatar-32 photo">
        </a>
    </div>
    <div class="rc_info">
        <span class="author_name">
            {%if comment.weburl %}
            <a target="_blank" href="{{comment.weburl}}" class="url" rel="external nofollow">{{comment.author}}</a>
            {% else %}
                {{comment.author}}
            {%endif%} 
        </span> | {{comment.date|datetz:"M d, Y"}}</div>
    <div class="rc_excerpt">
        {{comment.shortcontent}}...<a href="/{{comment.entry.link|escape}}#comment-{{comment.key.id}}">»</a>
        </div>
</li>

{%endfor%}

    </ul>
    </div>

</div>
<!-- sidebar north END -->

<div id="centersidebar">

    <!-- sidebar east START -->
    <div id="eastsidebar" class="sidebar">
        <div id="categories-368151121" class="widget widget_categories">
        <h3>Categories</h3>
        <ul>
             {%for cate in categories%}
            <li class="cat-item cat-item-846"><a href="/category/{{cate.slug}}">{{cate.name}}</a>({{cate.count}})</li>
            {%endfor%}
        </ul>
        </div>    
    </div>

    <!-- sidebar east END -->

    <!-- sidebar west START -->
    <div id="westsidebar" class="sidebar">
        <div id="archives-2" class="widget widget_archives">
        
        <h3>Archives</h3>
        <!--<select onchange="document.location.href=this.options[this.selectedIndex].value;" name="archive-dropdown">
            <option value="">Select Month</option>
            {%for archive in archives%}
            <option value="/{{archive.year}}/{{archive.month}}">{{archive.monthyear}} ({{archive.entrycount}})</option>
            {%endfor%}
        </select>-->
        <ul>
        {%for archive in archives%}
        <li><a href="/{{archive.year}}/{{archive.month}}">{{archive.monthyear}}({{archive.entrycount}})</a></li>
        {%endfor%}
        </ul>
        </div>    
    </div>
    <!-- sidebar west END -->
    <div class="fixed"></div>
</div>

<!-- sidebar south START -->
<div id="southsidebar" class="sidebar">
 
    <div id="linkcat-2" class="widget widget_links">
    <h3>Blog Rolls</h3>
        <ul class='xoxo blogroll'>
            {%for link in blogroll%}
            <li><a href="{{link.href}}" target="_blank">{{link.linktext}}</a></li>
            {%endfor%}
        </ul>
    </div>
    
      <div class="widget">
        <h3>Tag Cloud</h3>
        {% for t in alltags %}
        <a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}"><span style='font-size:{{ t.tagcount|add:9 }}px;'>{{t.tag}}</span></a>
        {%endfor%}
    </div>
    
</div>

<!-- sidebar south END -->
</div>
<!-- sidebar END -->
